.bChatPanel
  .bChatPanel-messageBlock.d-flex.flex-wrap.align-items-center.justify-content-center.text-center
    .bChatPanel-emptyChat
      svg-icon.mb-2(name='Chat/message_icon' svgClass='message')
      div 
        b Chat will be available
      div when you started consultation
    .bBtnControl
      svg-icon.bBtnControl-icon(name='Chat/btn_control_icon')
  .bChatPanel-fieldInputMessage
    input.bChatPanel-input(placeholder='Your message here...')