$gray: #2e3137;
$red: #d14747;
$blue: #009ddc;
$white: #ffffff;
$border: lighten($gray, 64.8%); // d4dae5
// #e0e0e0
// $darckgray: red;
// $gray: #3a3c41; //lighten($darckgray, 4.9%);
// $color: #c5c5c5; //lighten($darckgray, 59.2%);
// #545454 lighten($darckgray, 16.2%)
// #f0f1f2 //lighten(lighten($darckgray, 59.2%), 15.5%);
